.background{
  background: #D1BB8D;
}
.App {
  text-align: center;
}

.transport {
  height: 30px;
}

.circle {
height: 30px;
width: 30px;
}

.themes {
font-size: 40px;
}


.Tripflex {
  display: flex;
  flex-direction: column;
  
}

ul {
  margin-top: 80px;
}

.mytrips {
  border-radius: 100%;
  background-color: rgba(32, 195, 32, 0.5);
  border: 1px solid black;
  height: 300px;
  width: 20%;
  margin-top: 25px;
  margin-bottom: 25px;
  
}

/* 
.mytriptwo {
  border-radius: 100%;
  background-color: rgba(32, 195, 32, 0.5);
  border: 1px solid black;
  height: 200px;
  width: 15%;
  margin-bottom: 25px;
}


.mytripthree {
  border-radius: 100%;
  background-color: rgba(32, 195, 32, 0.5);
  border: 1px solid black;
  height: 200px;
  width: 15%;
} */



.bedstuys {
  padding-top: 80px
}

.Tripname {
  padding-top: 50px;
  padding-left: 300px;
  
}

.nav {
  border: 1px solid black;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  pointer-events: none;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
text-align: center;
}

.homeMap {
  display: flex;
 

}

.stateButton {
  border: none;
  font-size: 40px;
}

.cityButton {
  border: none;
  font-size: 20px;
}

.parkSlope{
  background-image: url(./image/Park.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  height: 800px;
  width: 100%;
}
.badge{
  height: 100px;
  width: 120px;
  color: #90C255
}