body{
  background-color: #D1BB8D;

}
.App {
  text-align: center;
}

.transport {
  height: 40px;
  width: 35px;
  background-color: #90C255;
  border-radius: 22px;
}

.circle {
height: 40px;
width: 35px;
}

.themes {
font-size: 68px;
}

.submit {
font-size: 50px;
color: #90C255;
background-color: #D1BB8D;
border: none;
}


.Tripflex {
  display: flex;
  flex-direction: column;
  
}

ul {
  margin-top: 80px;
  border-radius: 50%;
  background-color: rgba(22, 202, 22, 0.4);
}

.mytrips {
  background-image: url('./img/Bedstuy.jpg');
  
  background-size: cover;
  background-repeat: no-repeat;
  
  border-radius: 100%;
  height: 300px;
  width: 20%;
  margin-top: 25px;
  margin-bottom: 25px;
  
}



.mytriptwo {
  background-image: url('./img/Williamsburg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 300px;
  width: 20%;
  margin-bottom: 25px;
}


.mytripthree {
  background-image: url('./img/Park.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 300px;
  width: 20%;
} 



.bedstuys {
  padding-top: 80px
}

.Tripname {
  padding-top: 50px;
  padding-left: 300px;
  
}

.nav {
  background-color:  rgba(12, 14, 12, 0.4);
  height: 50px;
  
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  pointer-events: none;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
text-align: center;
}

.homeMap {
  display: flex;
  float: right;
}

.stateButton {
  border: none;
  font-size: 40px;
}

.cityButton {
  border: none;
  font-size: 20px;
}

.parkSlope{
  background-image: url(./image/Park.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  height: 800px;
  width: 100%;
}
.badge{
  height: 100px;
  width: 120px;
  color: #90C255
}

.icons{
  display: inline-flex;
}
.description{
  font-size: 24px;
}
